/* Stuff to remember:
    Off-white E7D9C1 Red: b70101 */


body{
    background-color:#f1f1f1;
    margin:0 auto;
    font-family: Century Gothic, sans-serif;
}

a:link, a:visited, a:active {
    color:#b70101;
}


/* Main wrapper - applies to every 'page'*/
.contentwrapper{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    width:100%;
    height:auto;
    min-height:100%;
    background-color: #f1f1f1; 
    position:absolute; top:0px; left:0px;
    position:absolute; top:0px; left:0px;
}

#btnwrapper{
    height:308px;
    width:100%;
    position:absolute;
    top:50%; margin-top:-154px;
    margin-bottom:-46px;f
}



/*Action Bar*/
#actionbar{
    height:50px;
    padding-left:30px; padding-right:30px;
    margin-left:-30px;
    width:100%;
    background-color:#b70101;
    position:fixed; top:0px; z-index:100000;
    box-shadow: 0px 0px 4px #333;
}
/*Text on action bar*/
.action_header{
    font-family: roboto_thin;
    font-size:22pt;
    color:white;
    line-height:48px;
    margin-left:12px;
}
/*Three-lines*/
.actionbtn{
    padding-top:17px; padding-bottom:17px;
    float:left;
    width:14px; height:14px;
    margin-left:-5px;
}



/*Side menu*/
#side_menu{
    height:100%;
    width:280px;
    background-color:#f1f1f1;
    position:fixed;
    top: 0px; left:0px;
    z-index:10000;
    box-shadow: 0px 0px 8px #000;
    /*margin-left:-295px;*/
}
/*dark background*/
#side_menu_darken{
    background-color:rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    position:fixed;
    top:0px; left:0px;
    z-index:1000;
    display:none;
}
/*individual item on sidebar*/
.side_menu_item{
    width:250px;
    padding:15px;
    font-family:roboto_thin;
    font-size:13pt;
    color:#353535;
    border-bottom:1px solid #e8e8e8;
}.side_menu_item:hover{
    background-color:#f7f7f7;
}
/*Sidebar header*/
.side_menu_header{
    width:250px;
    padding-left:15px; padding-right:15px; padding-top:5px; padding-bottom:3px;
    font-family: roboto_bold;
    font-size:10pt;
    color:#353535;
    border-bottom:3px solid #d8d8d8;
    text-transform:uppercase;
}





.innerwrapper{
    margin-top:16px;
    margin-left:4%;
    padding-left:3%; padding-right:3%; padding-top:10px; padding-bottom:10px;
    width:86%;
    height:auto;
    max-height:92%;
    overflow:hidden;
    background-color:#fff;
}
.innerwrapper:hover{
    background-color:#f7f7f7;
}

.headerimg{
    max-height:45px; 
    padding:5px;
    height:auto;
}

.leftimgbox{
    font-family: roboto;
    height:68px; width:68px; float:left;
    background-color:#f1f1f1;
    border:2px solid #d3d3d3;
    color:#353535;
    font-size:38pt;
    text-align:center; line-height:64px;
    border-top-left-radius:20px; border-bottom-right-radius:20px; border-top-right-radius:5px; border-bottom-left-radius:5px;
    margin-top:-1px;
}
.boxbtntext{
    height:68px;
    border:2px solid transparent;
    text-align:left;
    font-family: roboto_thin;
    line-height:63px;
    color:black;
    font-size:25pt;
}

.footer{
    position:absolute;
    bottom:0px;
    text-align:center;
    width:100%;
    padding-top:5px; padding-bottom:5px;
    font-family:roboto;
    font-size:7pt;
    letter-spacing:1px;
    text-transform:uppercase;
}


/*Scheduled Games*/
.upcoming{
    border-top:4px solid;
    margin-top:16px;
    margin-left:4%;
    padding-left:3%; padding-right:3%; padding-top:10px; padding-bottom:10px;
    width:86%;
    height:auto;
    max-height:92%;
    overflow:hidden;
    background-color:#fff;
}
.schedule_top{
    font-family:roboto_thin; font-size:12pt; line-height:5px;
    margin-top:-5px; margin-left:-3%;
    color:black; text-align:left; text-transform:uppercase;
    width:98%; padding:1%;
}
.schedule_btm{
    font-family:roboto; font-size:8pt; line-height:5px;
    color:black; text-align:left; text-transform:uppercase;
    width:98%; padding:1%;
}
.opponent{
    width:100%;
    text-align:center; font-size:21pt;
    padding-top:10px; padding-bottom:15px;
    font-family: roboto_slab_bold;
    letter-spacing:-2px;
}
.light_text{
    color:#CACCBD;
}


/*Roster List*/
.rosterlist{
    margin-top:8px;
    margin-left:4%;
    padding-left:3%; padding-right:3%; padding-top:2px; padding-bottom:2px;
    width:86%;
    height:auto;
    max-height:92%;
    overflow:hidden;
    background-color:#fff;
}
.rosterlist2{
    margin-top:8px;
    margin-left:4%;
    padding-left:3%; padding-right:3%; padding-top:2px; padding-bottom:2px;
    width:86%;
    height:auto;
    max-height:92%;
    overflow:hidden;
    background-color:#fff;
}
.p_name{
    font-family: roboto_bold; font-size: 16pt; color: #b70101;
    text-align:center; text-transform:uppercase;
    width:100%; text-align:left;
    letter-spacing:0px;
}

.p_pos{
    font-family: roboto_thin; font-size:8pt;
    width:25%; text-align:center; float:left; text-transform:uppercase;
}
.p_height{
    font-family: roboto_thin; font-size:8pt;
    width:25%; text-align:center; float:left; text-transform:uppercase;
}
.p_weight{
    font-family: roboto_thin; font-size:8pt;
    width:25%; text-align:center; float:right; text-transform:uppercase;
}
.p_grade{
    font-family: roboto_thin; font-size:8pt;
    width:25%; text-align:center; float:right; text-transform:uppercase;
}
.light_text2{
    color:#878787;
    font-family:roboto_thin;
}
.roster_clickable{
    margin-top:8px;
    margin-left:4%;
    padding-left:3%; padding-right:3%; padding-top:2px; padding-bottom:2px;
    width:86%;
    height:auto;
    max-height:92%;
    overflow:hidden;
    background-color:#fff;
}
.roster_clickable:hover{
    background-color:#f7f7f7;
}

#number_input_div{
    position:absolute; top: 100px; z-index:200;
    padding-top:7px; padding-bottom:2px;
    width:100%;
    height:auto;
    overflow:hidden;
    text-align:center; 
}

#number_input{
    font-family: roboto_thin;
    font-size:14pt;
    text-align:center;
    background:transparent;
    border:0px solid transparent;
}



/* INFO PAGE */
.infobox{
    margin-top:8px;
    margin-left:4%;
    padding-left:3%; padding-right:3%; padding-top:2px; padding-bottom:2px;
    width:86%;
    height:auto;
    max-height:92%;
    overflow:hidden;
    background-color:#fff;
}


.info_header{
    font-family: roboto_thin; font-size: 16pt; color: #b70101;
    text-align:center; text-transform:uppercase;
    width:100%; text-align:left;
    letter-spacing:0px;
    margin-top:7px; 
    margin-top:4px;
}

.collapser{
    float:right;
    padding-top:2px;
    color:#CACCBD;
}


.actual_info{
    font-family: roboto; font-size: 8pt; color: #000;
    text-align:left; text-transform:uppercase;
    width:100%; text-align:left;
    letter-spacing:1px;
    margin-bottom:7px; 
}

.emailbtn{
    position:absolute; bottom:15px; 
    left:4%;
    width:86%;
    padding:3%;
    text-align:center;
    border:1px solid #CACCBD;
    font-family: roboto_thin;
    font-size:16pt;
    border-radius:10px;
    background-color:white;
}




/*Team border colors on Roster page*/
#umass{
    border-color:#881c1c;
}
#tntech{
    border-color:#660099;
}
#azstate{
    border-color:rgba(164,0,70,1);
}
#purdue{
    border-color:#AF906A;
}
#ohiostate{
    border-color:#FF2400;
}
#nwst{
    border-color:#482A80;
}
#ill{
    border-color:#EF8A1C;
}
#iowa{
    border-color:#ffe100;
}
#byu{
    border-color:#002255;
}
#indiana{
    border-color:#7D110C;
}
#minn{
    border-color:#B30838;
}
#penn{
    border-color:#0033cc;
}
#bigten{
    border-color:#b70101;
}







/* Fonts */
@font-face {
    font-family: "roboto_bold";
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Light.ttf");
}
@font-face {
  font-family: 'roboto_thin';
  src: url('../font/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'roboto_slab_bold';
    src: url('../font/RobotoSlab-Bold.ttf');
}




/* Fix for JQuery Mobile Choppy scrolling*/
.ui-bar-a 
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a {
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}